.noGapBottom {
  margin-bottom: 0px;
}

.bgWrap {
  opacity: 0.2;
}

.walletButton {
  font-size: 0.7rem;
  font-weight: bold;
  background: #000;
  color: #fff;
  border-radius: 9px;
  border: 1px solid #6580cb;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  overflow-x: hidden;
  padding: 8px 8px;
}

.walletAddress {
  font-size: 0.7rem;
  color: #6580cb;
  position: fixed;
  z-index: 1;
  top: 20px;
  right: 10px;
  overflow-x: hidden;
  padding: 0 8px;
}

.mainButton {
  cursor: pointer;
  display: inline-flex;
  appearance: none;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  white-space: nowrap;
  vertical-align: middle;
  outline: 2px solid transparent;
  outline-offset: 2px;
  line-height: 1.2;
  font-weight: 600;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 200ms;
  height: 3rem;
  min-width: 3rem;
  font-size: 1rem;
  background: #6580cb;
  color: #fff;
  width: 75%;
  text-align: center;
  border-radius: 9px;
  border: 1px solid black;
}

.mainButton:hover {
  opacity: 0.8;
}

.secondaryButton {
  cursor: pointer;
  text-align: center;
  padding: 5px;
  color: #fff;
  font-weight: 600;
}

.container {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 0 24px;
}

.divider {
  width: 50%;
  border-color: grey;
  opacity: 0.25;
}

.holderGrid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1%;
  width: 70%;
  max-width: 95vw;
  flex-wrap: wrap;
  margin-top: 16px;
}

.spacerBottom {
  margin-bottom: 16px;
}

.claimGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  gap: 2%;
}

.textInput {
  width: 75%;
  background-color: #000;
  border: 1px solid grey;
  border-radius: 8px;
  color: #fff;
  height: 48px;
  padding: 0 16px;
  font-size: 1rem;
}

.holderItem {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  width: 100%;
  padding: 16px;
}

.textLeft {
  text-align: left;
}

.textLeft span {
  opacity: 0.5;
}

.footerLink {
  position: fixed;
  left: 0;
  bottom: 0;
  color: white;
  text-align: left;
  padding: 9px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0e0e10;
  color: white;
  text-align: right;
  padding: 9px;
}

/* On mobile: */
@media only screen and (max-width: 850px) {
  .claimGrid {
    flex-direction: column;
    width: 99vw;
    gap: 2%;
  }

  .textInput {
    margin-top: 6px;
    margin-bottom: 8px;
  }
  .footer {
    display: none;
  }
}
